@import "bootstrap-sprockets";
@import "bootstrap";

body {

}

header {
  background-color: lightskyblue;
  text-align: justify;
  padding: 15px;
}

.padding20 {
  padding: 20px;
}

.container {
  padding: 80px;
}

.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 0 5px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
}

.btn-circle-stitch:hover {
  background: #668ad8;
  box-shadow: 0 0 0 5px #668ad8;
}
